{% extends "dockets/base.html" %}
{% block content %}
    <center><h1>Docket Form</h1></center>
    <form action="" method="POST">
        {% csrf_token %}

    <div class="form-group wrapper">

        <h5>Customer and Docket Info</h5>
        <p></p>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Date: </label>
                {{ form.date }}
            </div>
            <div class="form-group col-md-4">
                <label>Date Req: </label>
                {{ form.date_required  }}
            </div>
            <div class="form-group col-md-4">
                <label>Flexibility: </label>
                {{ form.flexibility }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Customer Name: </label>
                {{ form.customer_name  }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Contact: </label>
                {{ form.contact }}
                
            </div>
            <div class="form-group col-md-4">
                <label>Phone: </label>
                <select id="phone" class="form-control custom-select" name="info" disabled>
                    <option selected disabled>---</option>
                  </select>
            </div>
            <div class="form-group col-md-4">
                <label>Email: </label>
                <select id="email" class="form-control custom-select" name="info" disabled>
                    <option selected disabled>---</option>
                  </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Quote #: </label>
                {{ form.quote }}
            </div>
        </div>
    </div>


    <div class="form-group wrapper">
        <h5>Payment and Sales</h5>
        <p></p>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Terms: </label>
                {{ form.terms  }}
            </div>
            <div class="form-group col-md-4">
                <label>Deposit: </label>
                {{ form.deposit }}
            </div>
            <div id='deposit' class="form-group col-md-4">
                <label>Deposit Amount: </label>
                {{ form.deposit_amount  }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Customer PO: </label>
                {{ form.customer_PO  }}
            </div>
            <div class="form-group col-md-4">
                <label>Sales Rep: </label>
                {{ form.rep  }}
            </div>
            <div class="form-group col-md-4">
                <label>CSR: </label>
                {{ form.csr }}
            </div>
        </div>
    </div>

    <div class="form-group wrapper">
        <h4>Job Details 1</h4>
        <p></p>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Quantity: </label>
                {{ form.quantity_1  }}
            </div>
            <div class="form-group col-md-4">
                <label>Description: </label>
                {{ form.description_1 }}
            </div>
            <div class="form-group col-md-4">
                <label>Finished Size: </label>
                {{ form.finished_size_1  }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Stock: </label>
                {{ form.stock_1  }}
            </div>
            
            <div class="form-group col-md-4">
                <label>Run Quantity: </label>
                {{ form.run_quantity_1  }}
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-12 inline-block">
                <label>Machine: </label>
                <br>
                {{ form.machine_1 }}
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Sheet Size: </label>
                {{ form.sheet_size_1  }}
            </div>
            <div class="form-group col-md-4">
                <label>Run Size: </label>
                {{ form.run_size_1 }}
            </div>
            <div class="form-group col-md-4">
                <label>Proof: </label>
                {{ form.proof_1  }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Inks: </label>
                {{ form.inks_1  }}
            </div>
            <div class="form-group col-md-4">
                <label>Bindery: </label>
                {{ form.bindery_1 }}
            </div>
            <div class="form-group col-md-4">
                <label>File: </label>
                {{ form.file_1  }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Special Instructions: </label>
                {{ form.instructions_1 }}
            </div>
        </div>
    </div>

    <div class="form-group wrapper">
        <h5>Pricing and Shipping</h5>
        <p></p>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Pricing: </label>
                {{ form.price_comission_1  }}
            </div>
            <div class="form-group col-md-6">
                <label>Shipping: </label>
                {{ form.shipping_1 }}
            </div>        
        </div>
        <br>
    </div>
<!-- Section 2 -->
    <div class="form-group wrapper">
        <h4>Job Details 2</h4>
        <p></p>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Quantity: </label>
                {{ form.quantity_2  }}
            </div>
            <div class="form-group col-md-4">
                <label>Description: </label>
                {{ form.description_2 }}
            </div>
            <div class="form-group col-md-4">
                <label>Finished Size: </label>
                {{ form.finished_size_2  }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Stock: </label>
                {{ form.stock_2  }}
            </div>

            <div class="form-group col-md-4">
                <label>Run Quantity: </label>
                {{ form.run_quantity_2  }}
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Machine: </label>
                <br>
                {{ form.machine_2 }}
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Sheet Size: </label>
                {{ form.sheet_size_2  }}
            </div>
            <div class="form-group col-md-4">
                <label>Run Size: </label>
                {{ form.run_size_2 }}
            </div>
            <div class="form-group col-md-4">
                <label>Proof: </label>
                {{ form.proof_2  }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Inks: </label>
                {{ form.inks_2  }}
            </div>
            <div class="form-group col-md-4">
                <label>Bindery: </label>
                {{ form.bindery_2 }}
            </div>
            <div class="form-group col-md-4">
                <label>File: </label>
                {{ form.file_2  }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Special Instructions: </label>
                {{ form.instructions_2 }}
            </div>
        </div>
    </div>

    <div class="form-group wrapper">
        <h5>Pricing and Shipping</h5>
        <p></p>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Pricing: </label>
                {{ form.price_comission_2  }}
            </div>
            <div class="form-group col-md-6">
                <label>Shipping: </label>
                {{ form.shipping_2 }}
            </div>
        </div>
    </div>

    <!-- Section 3 -->
    <div class="form-group wrapper">
        <h4>Job Details 3</h4>
        <p></p>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Quantity: </label>
                {{ form.quantity_3  }}
            </div>
            <div class="form-group col-md-4">
                <label>Description: </label>
                {{ form.description_3 }}
            </div>
            <div class="form-group col-md-4">
                <label>Finished Size: </label>
                {{ form.finished_size_3  }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Stock: </label>
                {{ form.stock_3  }}
            </div>

            <div class="form-group col-md-4">
                <label>Run Quantity: </label>
                {{ form.run_quantity_3  }}
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Machine: </label>
                <br>
                {{ form.machine_3 }}
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Sheet Size: </label>
                {{ form.sheet_size_3  }}
            </div>
            <div class="form-group col-md-4">
                <label>Run Size: </label>
                {{ form.run_size_3 }}
            </div>
            <div class="form-group col-md-4">
                <label>Proof: </label>
                {{ form.proof_3  }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Inks: </label>
                {{ form.inks_3  }}
            </div>
            <div class="form-group col-md-4">
                <label>Bindery: </label>
                {{ form.bindery_3 }}
            </div>
            <div class="form-group col-md-4">
                <label>File: </label>
                {{ form.file_3  }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Special Instructions: </label>
                {{ form.instructions_3 }}
            </div>
        </div>
    </div>

    <div class="form-group wrapper">
        <h5>Pricing and Shipping</h5>
        <p></p>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Pricing: </label>
                {{ form.price_comission_3  }}
            </div>
            <div class="form-group col-md-6">
                <label>Shipping: </label>
                {{ form.shipping_3 }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Reception Notes: </label>
                {{ form.reception_notes }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
            <input type="submit" value="Save Docket" class="btn btn-success">
        </div>
        </div>
    </div>

     {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %} 
              <div class="alert alert-danger">
                   <strong>{{field.label}}:{{ error|escape }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    {{ form.media }}

    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        let client = document.getElementById('id_customer_name')
        let contact = document.getElementById('contact-select')
        client.addEventListener("change", getClientId)

        function getClientId(e){
            let clientId = e.target.value
            const data = {id: clientId};
            let url = "{% url 'get-contacts' %}"

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type':'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success', data);
                contact.innerHTML = '<option value="" selected>-------</option>'
                for(let i = 0; i< data.length; i++){
                    contact.innerHTML += `<option value="${data[i]["id"]}">${data[i]["name"]}</option>`
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>

    {% comment %} <script>
        $('#id_inks_1_0').addClass("form-control")
        $('#id_inks_1_1').addClass("form-control")
        /* hide the text input box if an answer for "name" is selected via the pull-down */
        $('#id_inks_1_0').click( function(){
          if ($(this).find('option:selected').val() === "Other") {
             $('#id_inks_1_1').show(); }
          else {
             $('#id_inks_1_1').hide(); $('#id_inks_1_1').val(""); }
        });
        /* sets initial state right */
        $('#id_inks_1_0').trigger("click");
    </script>
    <script>
        $('#id_inks_2_0').addClass("form-control")
        $('#id_inks_2_1').addClass("form-control")
        /* hide the text input box if an answer for "name" is selected via the pull-down */
        $('#id_inks_2_0').click( function(){
          if ($(this).find('option:selected').val() === "Other") {
             $('#id_inks_2_1').show(); }
          else {
             $('#id_inks_2_1').hide(); $('#id_inks_1_1').val(""); }
        });
        /* sets initial state right */
        $('#id_inks_2_0').trigger("click");
    </script>
    <script>
        $('#id_inks_3_0').addClass("form-control")
        $('#id_inks_3_1').addClass("form-control")
        /* hide the text input box if an answer for "name" is selected via the pull-down */
        $('#id_inks_3_0').click( function(){
          if ($(this).find('option:selected').val() === "Other") {
             $('#id_inks_3_1').show(); }
          else {
             $('#id_inks_3_1').hide(); $('#id_inks_3_1').val(""); }
        });
        /* sets initial state right */
        $('#id_inks_3_0').trigger("click");
    </script> {% endcomment %}
    <script defer>
        $(function(){
            $("#contact-select").change(async function () {
                const contactId = $("#contact-select").find(":selected").text();
                $.ajax({
                    url: '{% url "get_contactInfo_ajax"%}',
                    dataType: "json",
                    data: {
                        'name': contactId,
                        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function (data) {
                        $("#phone").first().html(`<option selected disabled>${data.phone}</option>`);
                        $("#email").first().html(`<option selected disabled>${data.email}</option>`);
                    }
                });
            });
        });
    </script>


{% endblock content %}

