/*Styles for navbar and homepage*/

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: black;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  border-radius: 0;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.img.resize {
  width: 30%;
  height:  auto;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 800;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  margin-bottom: 100px;
  min-height: 1vh;
}


/*Styles for scrollable docket display table*/

.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

a.menu-link:hover {
  font-weight: 500;
}

.container-fluid {
  max-width: 80vw;
}

.container {
  max-width: 90vw;
}

/*Styling for new docket form*/


