asgiref==3.5.2
defusedxml==0.7.1
diff-match-patch==20200713
dj-database-url==1.0.0
Django==4.0.6
django-addanother==2.2.2
django-crispy-forms==1.14.0
django-filter==22.1
django-import-export==2.8.0
django-invitations==2.0.0
django-multiselectfield==0.1.12
et-xmlfile==1.1.0
fillpdf==0.7.2
gunicorn==20.1.0
MarkupPy==1.14
numpy==1.23.1
odfpy==1.4.1
openpyxl==3.0.10
pdf2image==1.16.0
pdfrw2==0.5.0
Pillow==9.3.0
psutil==5.9.1
psycopg2==2.9.5
PyMuPDF==1.21.0
PyPDF2==2.11.2
pytz==2022.1
PyYAML==6.0
sqlparse==0.4.2
tablib==3.2.1
tzdata==2022.1
xlrd==2.0.1
xlwt==1.3.0
